/* .container{
    font-size: 20px;
    font-weight: bolder;
} */
/* .nav{
    background-color: black;
    color:white;
}
*{
    background-color : black;
    color:white;
} */
body{
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pexels.com%2Fsearch%2Fweather%2F&psig=AOvVaw0B5JE2_BwHc8n5SZFiAujZ&ust=1692643511070000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCJjD6svy64ADFQAAAAAdAAAAABAE');
}